# Name of the database in the PostgreSQL container
PG_DATABASE="randimi_db"

# Password of the database user
PG_PASSWORD=

# Name of the database user
PG_USERNAME="randimi_user"

# Path for the database data
PG_DATA_PATH=./data/db

# Tag for the RandIMI docker image
RANDIMI_IMAGE_TAG=latest
