<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html th:replace="~{fragments/main_layout :: common_layout(title='Randimi - ' + #{password.title},
														   header=~{::header/h1},
														   content=~{::#contentDiv},
														   script=~{})}"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Randimi - ' + #{password.title}">RandIMI - Password Reset</title>
</head>
<body>
<header>
    <h1 th:text="#{password.title}">Reset Password</h1>
</header>

<div id="contentDiv" class="randimi-content-box">
	<form class="" th:action="password" method="POST" th:object="${user}">
		<div id="login-inputs" class="mx-auto small-content px-2">
			<div th:replace="~{fragments/inputs.html :: textInput(enableAuto='off', fieldName='username', placeholder=#{welcome.username})}">
			</div>
			<div class="">
				<button type="submit" class="btn btn-primary mb-1" value="save" id="saveButton" name="action"
					th:text="#{password.title}">Reset Password
				</button>
				<button type="submit" class="btn btn-primary float-end" value="cancel" id="cancelButton" name="action"
					th:text="#{button.cancel}">Cancel
				</button>
			</div>
		</div>
	</form>
</div>
</body>
</html>
