<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html th:replace="~{fragments/main_layout :: common_layout(title='Randimi - ' + #{password.title},
														   header=~{::header/h1},
														   content=~{::#contentDiv},
														   script=~{})}"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="'Randimi - ' + #{password.title}">Randimi - Password Reset</title>
</head>
<body>
<header>
    <h1 th:text="#{password.title}">Reset Password</h1>
</header>

<div id="contentDiv">
    <div th:if="${forgotPasswordToken} != null" sec:authorize="!isAuthenticated()">
        <form method="POST" th:action="resetPassword" th:object="${forgotPasswordToken}">
            <div class="mb-3 userForm">
                <fieldset th:replace="~{fragments/inputs.html :: fieldset(legend=#{password.title}, content=~{::#editUserDiv})}">
                    <div id="editUserDiv">
                        <input type="hidden" class="form-control" th:field="*{id}" />
                        <input type="hidden" class="form-control" th:field="*{userId}" />
                        <input type="hidden" class="form-control" th:field="*{token}" />

				        <div th:replace="~{fragments/inputs.html :: passwordInput(fieldName='password', label=#{users.edit.password})}"></div>
				        <div th:replace="~{fragments/inputs.html :: passwordInput(fieldName='repeatPassword', label=#{users.edit.repeatPassword})}"></div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary" value="save" id="saveButton" name="action" th:text="#{button.save}">Save</button>
                <button type="submit" class="btn btn-primary" value="cancel" id="cancelButton" name="action" th:text="#{button.cancel}">Cancel</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
